<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base de datos de Memes</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Base de datos de Memes en la Nube</h1>
        <nav class="navigation">
            <a href="/upload" class="nav-link">Cargar Meme</a>
            <a href="/search" class="nav-link">Buscar Meme</a>
        </nav>
    </div>
</body>
</html>
