<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Meme</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Buscar Meme</h1>
        <form method="post" class="search-form">
            <input type="text" name="keyword" placeholder="Buscar por descripción o etiquetas" class="search-input">
            <button type="submit" class="search-button">Buscar</button>
        </form>

        <div class="search-results">
                <ul>
                    {% for result in results %}
                    <li class="search-item">
                        <a href="/meme/{{ result[0] }}" class="result-link">{{ result[1] }}</a>
                    </li>
                    {% endfor %}
                </ul>
        </div>

        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>
</html>
